* {
  margin: 0;
  padding: 0;

  }

html {
  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}

body {
  
  height: 100%;
  background-color: #EEE;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;

}

.footer {
  height: 200px;
  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}

.confusion-matrix  th {
  background-color: #888;
  color: #EEE;
  width: 33%;
  text-align: center;
}

.confusion-matrix td {
  text-align: center;
}

#confusionmat-illustration {
  background-color: #F5F5F5;
  padding: 10px;
  border: 1px solid #CCC;
}

.illustration-button {
  border: 1px solid #666;
  background-color: steelblue;
  padding: 5px;
  margin: 5px;
  text-align: center;
  color: white;

}


.navbar {
  font-size: 18px;
  border-radius: 0px;
  
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
}

#icon-row {
  text-align: center;
  color: #00688B;
  margin: 50px 0;
}

#hero-unit {
  text-align: center;
  height: 400px;
  background-color: #CCC;
  border: 1px solid #BBB;
  padding: 120px 0;

}

.glyphicon {
  width: 100%;
  height: 100px;
  line-height: 80px;
  font-size: 80px;
  text-align: center;

}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #4F94CD;
}

a:hover {
  color: #00688B;
  text-decoration: none;
}

.CodeRay {
  border: 0;
}

code {
  color: #104E8B;
  background-color:#EEE;
  border: 1px solid #DDD;
  border-radius: 0;
  font-size: 14px;
}

#content {
  height:auto ;
    min-height: 100%;
}

#main {
  background-color: #FEFEFE;
  border: 1px solid #104E8B;
  padding: 20px 40px;

  margin: 0 0 60px;
  font-size: 18px;

  line-height: 28px;
}

#main h1 {
  font-size: 40px;
  font-weight: normal;

  line-height: 54px;

  letter-spacing: -1px;

  border-bottom: 3px solid #888;
}

#main h2 {
  font-size: 28px;
  line-height: 40px;
  margin: 20px 0;
  color: #00688B;
  border-bottom: 1px solid #DDD;
} 

#main h3 {
  font-size: 20px;
  line-height: 26px;
  margin: 20px 0;
  color: #666;
 
} 

#main h4 {
  color: #1874CD;
}

#main p {
  margin: 20px 0;
}

#main ul, #main ol {
  margin: 0 20px;
}

#main li {

}

#main ul li {
  list-style-type: square;
}

.MathJax_Display {
  background-color: #EEE;
  padding: 20px;

  border: 1px solid #DDD;
}

#side {
  position:fixed;
  width: 263px;
  color: #FFF;
  background-color: #4F94CD;
  border: 2px solid #36648B;
}

#side a, 
#side a:link,
#side a:visited, 
#side a:hover {
  
  
  color: #FFF;
}


#side h1 {
 
  margin: 20px 10px;
  font-size: 24px;
  text-align: center;
  color: #FFF;

  letter-spacing: 1px;

  line-height: 32px;
  border-bottom: 1px solid #FFF;
}

#side ul {
  list-style-type: circle;
  margin-left: 20px;
  margin: 20px 0 20px 28px;
}

#side li {
  font-size: 18px;
  line-height: 24px;
}



#footer {
  height: 400px;
  background-color: #666;
}

